* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5B2E
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #FFFAF5;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;
    min-width: 130px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFAF5;
    box-shadow: 4px 3px 10px -1px #BF290066;

}

.section-heading {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
    color: #000958;
}

.section-desc {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.87;
    color: #656689;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}


/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: #5E6085;
}

.navbar__link:hover,
.header-action__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px
}

/* Hero */

.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    border-radius: 16px;
    background: #FE997B;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;

}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    background-color: #FAA7AD;
    border: 2px solid #F8DFE1;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    padding: 18px 14px;
    width: 250px;
    height: 156px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px #CFAE8440;
    border-radius: 10px;
}

.hero-list-item {
    display: flex;
    column-gap: 10px;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #FEC23F;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background-color: #C6E2FA;
}

.hero-list-item__title {
    font-family: 'Sora', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #181E52;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-list-item__separate {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background-color: #F2F2F2;

}

.hero__heading {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
    color: #000958;
}

.hero__desc {
    margin-top: 24px;
    width: 390px;
    font-size: 1.6rem;
    line-height: 1.87;
    color: #656689;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__cta-btn {
    --height: 60px;
    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px #FF5B2E6B;
}

.hero__cta-link {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    color: #000958;
    text-decoration: underline;

}

/* About */
.about {
    margin-top: 77px;
    padding: 54px 0;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
    align-items: center;


}

.about__media {
    position: relative;
}

.about__label {
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: #5E6085;
}

.about__heading {
    margin-top: 15px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;

}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #48496A;

}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #FF5D31;
    box-shadow: 0px 4px 15px -3px #FF5D31B0;
}

.about__check-item::after {
    content: url(../icons/check.svg);
    position: absolute;
    left: 4px;
    top: 2px;
}

.about__card {
    position: absolute;
    left: 0;
    top: 142px;
    padding: 30px 26px;
    width: 136px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px #55F0FF2B;
    text-align: center;

}

.about__card-title {
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
}

.about__card-desc {
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 1.42;
    color: #C6F4F9;
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -30px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;

}

.about__img-wrap::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    box-shadow: 11px 18px 65px 0px #FF9B791F;
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    margin-left: 0;
    width: 458px;
    border-radius: 18px;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 17px 77px -8px #BEA58B2B;

}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 12px;
    right: 63px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;

}

.about__decor-img:nth-child(5) {
    bottom: 150px;
    right: 19px;

}

.about__decor-img:nth-child(6) {
    bottom: -54px;
    right: -42px;
}


.about__desc-bottom {
    margin-bottom: 52px;
    width: 511px;

}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item-active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    opacity: 0.07;
    background: var(--primary-color);
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 11px;
    padding-bottom: 10px;
    cursor: pointer;

}

.tab__icon {
    width: 20px;
}

.tab__title {
    font-family: 'Sora', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: #48496A;
}

.tab__item-active::after {
    opacity: 1;
    width: 95px;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item-active {
    display: block;
}

.tab__content-desc {
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
    width: 391px;


}

.tab__content-more {
    position: relative;
    margin-top: 32px;
    display: inline-block;
    color: #FF5D31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 5px;
}

.tab__content-more::after {
    opacity: 1;
    height: 1.5px
}

/* Services */
.services {
    margin-top: 130px;
    padding: 68px 0 100px;
    background: #FFF6ED;
}

.services__top {
    text-align: center;
}

.services__desc,
.staff__desc {
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: #5E6085;
    margin-bottom: 16px;
}

.services__body {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 70px;
}

.service-item {
    padding: 30px 22px 30px 28px;
    width: 294px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 2px solid #FFBC7A42
}

.service-item+.service-item {
    margin-top: 24px;
}

.service-item__title {
    position: relative;
    padding-left: 12px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    color: #000958;
}

.service-item__title::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(#FF5B2E, #FFA187);
}

.service-item__desc {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;

}

.service-item__more {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    color: #34396A;

}

.service-item__more::after {
    content: url(../icons/arrow-up-right.svg);
    margin: 1px 0 0 6px
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    content: "";
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);

}

.service__img {
    width: 100%;
    position: relative;
    display: block;
    z-index: 1;
}

.service__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.service__cta {
    min-width: 214px;
    color: var(--primary-color);
    border-color: currentColor;
}

/* Staff */
.staff {
    padding: 130px 0;
}

.staff__top {
    text-align: center;
}

.staff__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff-item {
    text-align: center;

}

.staff__img-wrap {
    margin: 0 16px;
    position: relative;
    border-radius: 130px;


}

.staff__img-wrap::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 266px;
    border-radius: inherit;
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
}

.staff__img-wrap::after {
    content: url(../icons/staff-decor-01.svg);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.staff-item:nth-child(2) .staff__img-wrap::before {
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);

}

.staff-item:nth-child(2) .staff__img-wrap::after {
    content: url(../icons/staff-decor-02.svg);
}

.staff-item:nth-child(3) .staff__img-wrap::before {
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}

.staff-item:nth-child(3) .staff__img-wrap::after {
    content: url(../icons/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff__img-wrap::before {
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}

.staff-item:nth-child(4) .staff__img-wrap::after {
    content: url(../icons/staff-decor-04.svg);
}

.staff-item:nth-child(even) .staff__img-wrap::after {
    bottom: inherit;
    top: 16px;
}


.staff__img {
    width: 100%;
    position: relative;
    border-radius: inherit;
    display: block;
    z-index: 1;
}

.staff__title {
    margin-top: 34px;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}

.staff__name {
    margin-top: 14px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    color: #000958;


}

.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.staff__cta {
    min-width: 193px;
    color: var(--primary-color);
    border-color: currentColor;
}